body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.container{
  margin: 20px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  height: 27px;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
.serch{
  border-radius: 10px;
  width: 435px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(67 99 38) 0%, rgb(42 93 140) 100%);
flex-direction: column;
}

li:hover{
  background: rgba(80, 84, 77, 0.627);
}

ul{padding-left: 0px;
  list-style: none;
  color: white;
  border-radius: 5px;
  width: 435px;
  background: linear-gradient(90deg, rgb(67 99 38) 0%, rgb(42 93 140) 100%);
}

.name{
  font-size: 22px;
  font-weight: 700;
  margin: 5px 5px 5px 30px;
}
.info{
  font-size: 12px;
  margin: 5px 5px 5px 30px;
}

.model{
    height: 100%;
    width: 100%;
    top: 0;;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #c7c5c587;
    z-index: 1;
}
.form-box{
    width: 380px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.add{background: rgb(51 81 23);
color: white;}
.prees{background: linear-gradient(to right, #ff105f, #ffad06);}
.btn{
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 8px auto;
  border: 0;
  outline: none;
  border-radius: 30px;
}


form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form div{
  display: flex;
  align-items: center;
}
label{
  margin: 10px;
}
.close {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
  border: 0;
    outline: none;
    border-radius: 30px;
  width: 50px;
  height: 25px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {

  content: ' ';
  height: 20px;
  width: 2px;

}

/* .close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
} */